*{
    box-sizing: border-box;
}

body, html{
    margin:0;
}

body, .container{
    position: relative;
    width: 100%;
}

.buttonArea button,
#submitButton{
    width: 150px;
    height: 25px;
    display: inline-block;
    border-radius: 10px;
    color: white;
    background-color: teal;
}
.searchArea,
.gifArea{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.gifArea{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    max-width:1000px;
}
.gifDiv{
    position: relative;
    align-self: auto;
    padding:10px;
    width:30%;
}


.gifDiv img{
    width: 100%;
}

@media all and (max-width: 768px) {
    .gifDiv {
      /* On small screens, we are no longer using row direction but column */
        width:50%;
    }
  }
